@model IEnumerable<Capa_Entidad.DOCUMENTO>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Crear Nuevo Documento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origen_Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destino_Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origen_Departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destino_Departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IdDocumento  }) |
        
            @Html.ActionLink("Delete", "Delete", new { id = item.IdDocumento })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar al Inicio", "Index", "Home")
</div>